.MainMoviesContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.MoviesList {
    width: 90%;
}

.MainMoviesContainer button {
    margin: 5px;
}

.moviesPage {
    padding: 30px;
    text-align: center;
}

.genresButton {
    margin: 10px;
    padding: 10px;
    font-family: "Roboto Light";
    font-size: 20px;
    border-radius: 15px;
    background-color: darkcyan;
    color: snow;
}

.genresButton:hover {
    cursor: pointer;
    color: #fffb00;
}

.MainGenresPage {
    text-align: center;
    padding: 30px;
}

.GenresPage {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: flex-start;
}

.genreGP {
    width: 18%;
    height: 35px;
    margin: 10px;
    font-family: "Californian FB";
    font-size: 20px;
    border-radius: 10px;
    background-color: darkcyan;
    color: black;
}

.genreGP:hover {
    cursor: pointer;
    background-color: rgba(255, 250, 250, 0.49);
    color: #0a1d2c;
    font-size: 23px;
}

.MovieDetailPage {
    padding: 30px;
    display: flex;
    justify-content: space-around;
    font-family: "Californian FB";
}

.MainPoster {
    width: 50%;
    height: 80%;
}

.MainTitle {
    font-size: 85px;
}

.release {
    margin: 20px 0;
    font-size: 20px;
}

.GenreBadges, .video {
    margin: 20px 0;
}

.MainPageBody {
    height: 70%;
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.overview {
    font-size: 30px;
}

.SearchPage {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.change {
    background-color: #022440;
    color: #fffb00;
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
}

.change span {
    display: block;
}

.change:hover {
    cursor: pointer;
}

.change:disabled {
    background-color: gray;
}

.LogoPages {
    font-size: 35px;
    font-family: "Roboto Light";
}

.MainPage {
    padding: 30px;
    text-align: center;
}