.Header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(11, 243, 208, 0.25);
    height: 90px;
    border-radius: 5px;
    border: 3px solid #022440;
    margin: 0 auto;
    width: 99%;
    font-family: "Roboto Light";
}

.Header a {
    text-decoration: none;
    color: #c0ba67;
    font-size: 25px;
}

.Header a[class='active'] {
    color: blue;
    font-size: 30px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.navigate {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header button {
    border-radius: 10px;
}

.Logo {
    width: 100px;
    height: 45px;
    margin-right: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
}

.buttonTheme {
    margin-right: 20px;
}